@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary-color: hsl(180, 66%, 49%);
  --secondary-color: hsl(257, 27%, 26%);
  --red-color: hsl(0, 87%, 67%);
  --gray-color: hsl(0, 0%, 75%);
  --grayish-violet-color: hsl(257, 7%, 63%);
  --very-dark-blue-color: hsl(255, 11%, 22%);
  --very-dark-violet-color: hsl(260, 8%, 14%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
