@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --secondary :hsl(257, 27%, 26%);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1023px) {
  .open-menu {
    position: absolute;
    top: 6rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    z-index: 999;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background: var(--secondary);
    color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px hsl(257deg 27% 26% / 30%);
  }
}
